<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Bviewed.App" 
version="0.0.1" 
xmlns="http://www.w3.org/ns/widgets" 
xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bviewed</name>
    <description>
        Bviewed app
    </description>
    <author>
        Joris Eertink
    </author>
	
	<preference name="DisallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />
	
    <content src="index.html" />
    <access origin="*" />
</widget>
